.Header {
    z-index: 100;
    position: fixed;
    width: 100%;
}
.NavBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 20px 0;
    align-items: baseline;
    box-sizing: border-box;
}