.content-container {
  width: 50%;
  margin: auto;
}

.irregular-border {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  overflow: hidden;
  border: solid 2px purple;
}
.irregular-border.irregular-border-nocolor {
  border-color: transparent;
}

.fitting-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
