::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 0, 128, 0.671);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: purple;
}

.content-container {
  width: 50%;
  margin: auto;
  min-width: 800px;
}

.irregular-border {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  overflow: hidden;
  border: solid 2px purple;
}
.irregular-border.irregular-border-nocolor {
  border-color: transparent;
}

.fitting-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.more-content {
  font-size: 1.4rem;
  font-weight: lighter;
  /* text-transform: capitalize; */
  cursor: pointer;
  color: purple;
}

.more-content span {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.more-content:hover span {
  opacity: 1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}